<section>
  <div class="container">
    <h1>Alocação de Patrimonio</h1>
    <form id="patrimonio-form">
      <div>
        <div class="form-group">
          <label for="patrimonioSelect" class="form-label"
            >Qual patrimonio deseja alocar?</label
          >
          <select
            class="form-select"
            id="patrimonioSelect"
            placeholder="Nome do Patrimonio"
          >
            <option selected value="0">Selecione...</option>
            <% patrimonios.forEach(patrimonio => { %>
            <option value="<%= patrimonio.Id %>"><%= patrimonio.Nome %></option>
            <% }) %>
          </select>
        </div>
        <div class="form-group">
          <label for="eventoSelect" class="form-label"
            >Para qual evento deseja alocar esse patrimonio?</label
          >
          <select
            class="form-select"
            id="eventoSelect"
            placeholder="Nome do Evento"
          >
            <option selected value="0">Selecione...</option>
            <% eventos.forEach(evento => { %>
            <option value="<%= evento.Id %>"><%= evento.Nome %></option>
            <% }) %>
          </select>
        </div>
      </div>
      <div class="mt-4">
        <a class="btn btn-secondary" href="/patrimonios">Voltar</a>
        <button class="btn btn-primary" type="submit">Alocar</button>
      </div>
    </form>
  </div>
</section>

<script src="/js/patrimonios/alocacao.js"></script>
