<section>
  <div class="container">
    <h1>Cadastro de Patrimonio</h1>
    <form id="patrimonio-form">
      <div>
        <div class="form-group">
          <label for="patrimonioNome" class="form-label">Nome</label>
          <input
            type="text"
            class="form-control"
            id="patrimonioNome"
            name="patrimonioNome"
            placeholder="Nome do Patrimonio"
          />
        </div>
      </div>
      <div class="mt-4">
        <a class="btn btn-secondary" href="/patrimonios">Voltar</a>
        <button class="btn btn-primary" type="submit">Cadastrar</button>
      </div>
    </form>
  </div>
</section>

<script src="/js/patrimonios/cadastro.js"></script>
