<section>
  <div class="container">
    <h2>Patrimonios:</h2>
    <div class="row justify-center">
      <div class="col col-12">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" class="text-start">Nome</th>
                <th scope="col" class="text-start">Evento alocado</th>
              </tr>
            </thead>
            <tbody id="table-patrimonios-body">
              <tr id="loading-row">
                <td colspan="2">Carregando Patrimonios...</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-end">
      <div class="col col-2 d-flex justify-content-end gap-4 ">
        <a class="btn btn-primary" href="/patrimonios/alocar">Alocar</a>
        <a class="btn btn-primary" href="/patrimonios/cadastrar">Cadastrar</a>
      </div>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="deleteWarning"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteWarningLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between">
        <h5 class="modal-title" id="deleteWarningLabel">
          Deseja realmente excluir esse patrimonio?
        </h5>
        <button
          type="button"
          class="btn btn-link close-modal close-icon"
          data-dismiss="modal"
          aria-label="Close"
        >
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body text-center">
        <i
          class="fas fa-exclamation-triangle"
          style="font-size: 50px; color: red"
        ></i>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary close-modal"
          data-dismiss="modal"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" id="confirm-delete-btn">
          Excluir
        </button>
      </div>
    </div>
  </div>
</div>

<script src="/js/patrimonios/listagem.js"></script>
