<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Semeando o Futuro</title>
    <link rel="icon" type="image/x-icon" href="/img/logoONG.jpeg" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/fontawesome-free/css/all.min.css" />

    <!--CSS feitos na mao-->
    <link rel="stylesheet" href="/css/cadastro.css" />
    <!--CSS feitos na mao-->

    <!-- bootstrap css-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/bootstrap/css/bootstrap.min.css"
    />
    <!-- bootstrap icons css-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/bootstrap-icons/bootstrap-icons.css"
    />

    <link rel="stylesheet" href="/css/theme.css" />
  </head>
  <body>
    <header id="header" class="header d-flex align-items-center">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="/" class="logo d-flex align-items-center">
          <img src="/img/logoONG.jpeg" alt="logo da ONG" />
          <h1>Semeando o Futuro<span>.</span></h1>
        </a>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="/">Início</a></li>
            <% if (locals?.usuarioLogado?.Administrador) { %>
            <li><div class="menu-separator"></div></li>
            <li><a href="/eventos">Eventos</a></li>
            <li><a href="/patrimonios">Patrimonios</a></li>
            <li><a href="/produtos">Produtos</a></li>
            <li><a href="/relatorios">Relatorios</a></li>
            <li><div class="menu-separator"></div></li>
            <% } %>
            <li><a href="/causas">Causas</a></li>
            <li><a href="/ajude">Ajude também</a></li>
            <li><a href="/doacao">Doar</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><div class="menu-separator"></div></li>
            <li>
              <% if (locals?.usuarioLogado) { %>
              <a onclick="logout()" href="">Sair</a>
              <% } else { %>
              <a href="/login">Entrar</a>
              <% } %>
            </li>
          </ul>
        </nav>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      </div>
    </header>
    <div id="body-container"><%- body %></div>
    <footer id="footer" class="footer">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="/" class="logo d-flex align-items-center">
              <img src="/img/logoONG.jpeg" alt="logo da ONG" /><span
                >Semeando o Futuro</span
              >
            </a>
            <p>Um pequeno gesto hoje, um planeta melhor amanhã.</p>
            <div class="social-links d-flex mt-4">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Links Úteis</h4>
            <ul>
              <li><a href="/">Início</a></li>
              <li><a href="/causas">Causas</a></li>
              <li><a href="/ajude">Ajude também</a></li>
              <li><a href="/doacao">Doar</a></li>
              <li><a href="/contato">Contato</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Causas</h4>
            <ul>
              <li><a href="#services">Reflorestamento</a></li>
              <li><a href="#services">Reciclagem</a></li>
              <li><a href="#services">Energias Renováveis</a></li>
              <li><a href="#services">Educação Ambiental</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container mt-4">
        <div class="copyright">
          &copy; Copyright <strong><span>Semeando o Futuro</span></strong>
        </div>
        <div class="credits">
          Desenvolvido pela equipe da <strong>InovaSoft</strong>
        </div>
      </div>
    </footer>
    <script src="/js/layout.js"></script>
    <!-- bootstrap script -->
    <script src="/bootstrap/js/bootstrap.js"></script>
    <!-- jquery script -->
    <script src="/jquery/jquery.js"></script>
  </body>
</html>
