

<div class="wropper">
    <p>Criar Conta</p>

    <div class="formulario">
        <form>

            <input placeholder="Nome completo" type="text" name="Nome" required/>
            <input placeholder="Email" type="email" name="email" required/>
            <input placeholder="Senha" type="password" name="Senha" required/>
            <input placeholder="Confirme a senha" type="password" name="senha-confirmar" required/>
            <input placeholder="CPF/CNPJ" type="number" name="CPF" required/>
            <input placeholder="Celular" type="number" name="celular" required/>
            <input placeholder="Endereço" type="text" name="endereco" required/>
            <input type="radio" name="pf" value="pessoafisica" checked> CPF
            <input type="radio" name="pj" value="pessoajuridica"> CNPJ

            <button class="btn">Criar conta</button>
            

        </form>
    </div>
</div>