<div>

    <h1>Contato</h1>

    <form>

        <input placeholder="Nome" type="text" name="nome" required/>
        <input placeholder="Email" type="email" name="email" required/>
        <textarea placeholder="Digite aqui sua mensagem" required></textarea>

    </form>

</div>