<section id="hero" class="hero">
  <div class="container position-relative">
    <div class="row gy-5" data-aos="fade-in">
      <div
        class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start"
        id="deixarCerto"
      >
        <h2>A mudança começa por nós - Semeie o futuro!</h2>
        <p>Doe agora e junte-se a nós</p>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="/doacao" class="btn-get-started">Clique aqui para Doar</a>
          <a
            href="https://www.youtube.com/watch?v=YAG7-LJc2DQ&pp=ygUecG9ycXVlIGFzIG9uZ3Mgc2FvIGltcG9ydGFudGVz"
            class="glightbox btn-watch-video d-flex align-items-center"
            ><i class="bi bi-play-circle"></i
            ><span>Importância das OGNs</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Sobre Nós</h2>
      <p>
        Seja bem-vindo à Semeando o Futuro! Somos uma ONG dedicada a promover a
        mudança positiva e sustentável em nosso planeta. Acreditamos que cada um
        de nós tem o poder de fazer a diferença e deixar um legado para as
        futuras gerações.
      </p>
    </div>

    <div class="row gy-4">
      <div class="col-lg-6">
        <img
          src="assets/img/Preservacao.jpg"
          class="img-fluid rounded-4 mb-4"
          alt=""
        />
        <p>
          Nossa dedicação à reciclagem é um compromisso com a preservação dos
          recursos naturais e a redução do lixo que vai para os aterros. Através
          de programas de conscientização e parcerias com empresas locais,
          promovemos a importância da coleta seletiva e do reaproveitamento de
          materiais, incentivando a economia circular.
        </p>
        <p>
          Investir em energias renováveis é uma das nossas prioridades.
          Acreditamos que a transição para fontes de energia limpas e
          sustentáveis é essencial para um futuro mais verde. Por meio de
          iniciativas de instalação de painéis solares e conscientização sobre o
          uso responsável da energia, buscamos reduzir nossa pegada de carbono e
          inspirar outros a seguir o mesmo caminho.
        </p>
        <p>
          Acreditamos na transformação através da educação ambiental. Por isso,
          desenvolvemos programas educacionais abrangentes destinados a
          conscientizar e empoderar as comunidades. Queremos fornecer
          ferramentas e conhecimentos para que cada indivíduo possa tomar
          decisões mais sustentáveis e se tornar um agente de mudança em sua
          própria comunidade.
        </p>
      </div>
      <div class="col-lg-6">
        <div class="content ps-0 ps-lg-5">
          <p class="fst-italic">Nossa missão é bem clara:</p>
          <ul>
            <li>
              <i class="bi bi-check-circle-fill"></i> Preservar o meio ambiente.
            </li>
            <li>
              <i class="bi bi-check-circle-fill"></i> Proteger a natureza.
            </li>
            <li>
              <i class="bi bi-check-circle-fill"></i> Promover um futuro mais
              verde e equilibrado.
            </li>
          </ul>
          <p>
            Para alcançar esse objetivo, nos concentramos em quatro pilares
            fundamentais: Reflorestamento, Reciclagem, Energias Renováveis e
            Educação Ambiental. Através de nossos projetos de reflorestamento,
            buscamos recuperar áreas degradadas, plantando árvores e restaurando
            a biodiversidade. Acreditamos que cada árvore plantada é um passo em
            direção a um ecossistema saudável e equilibrado, além de contribuir
            para a redução dos gases de efeito estufa e o combate às mudanças
            climáticas.
          </p>

          <div class="position-relative mt-4">
            <img
              src="/img/MeioAmbiente.jpg"
              class="img-fluid rounded-4"
              alt=""
            />
            <a
              href="https://www.youtube.com/watch?v=W93gLggGWfw&pp=ygUeaW1wb3J0w6JuY2lhIGRvIG1laW8gYW1iaWVudGUg"
              class="glightbox play-btn"
            ></a>
          </div>
          <br />

          <p>
            Mas não podemos fazer isso sozinhos. Precisamos do seu apoio e
            envolvimento para alcançar nossos objetivos. Junte-se a nós nessa
            jornada de esperança e ação. Cada pequena contribuição e cada gesto
            conta. Juntos, podemos plantar as sementes de um futuro melhor para
            todos.
          </p>
        </div>
      </div>
    </div>
    <div class="doar">
      <p>
        Se você acredita em nossa missão e deseja apoiar financeiramente nossos
        projetos, sua doação é fundamental.
        <a href="/doacao">Clique aqui</a> para fazer uma contribuição e junte-se
        a nós na construção de um futuro mais sustentável.
      </p>
    </div>
  </div>
</section>
