<div class="breadcrumbs">
  <nav>
    <div class="container">
      <ol>
        <li><a href="/">Inicio</a></li>
        <li>Entrar</li>
      </ol>
    </div>
  </nav>
</div>

<div class="d-flex w-100 justify-content-center">
  <div class="container m-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="mb-3">
                <label for="email-input" class="form-label">Email</label>
                <input type="email" class="form-control" id="email-input" />
              </div>
              <div class="mb-3">
                <label for="senha-input" class="form-label">Senha</label>
                <input type="password" class="form-control" id="senha-input" />
              </div>
              <div class="mb-3">
                <label class="form-label">Tipo de Usuário</label>
                <div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="tipo-radio"
                      value="PF"
                      checked
                    />
                    <label class="form-check-label" for="pf">PF</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="tipo-radio"
                      value="PJ"
                    />
                    <label class="form-check-label" for="pj">PJ</label>
                  </div>
                </div>
              </div>
              <div
                id="error-message"
                class="justify-content-center m-1"
                style="color: red"
              ></div>
              <button
                type="button"
                id="login-button"
                class="btn btn-primary w-100"
              >
                Login
              </button>
            </form>
            <div class="text-center mt-4">
              <b>Ainda não possui cadastro?</b>
              <p>
                Registre-se agora mesmo <a href="/cadastro">Clicando Aqui</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/login/login.js"></script>
